[submodule "Агафонов А.Е."]
	path = Агафонов А.Е.
	url = https://github.com/Andrew1481432/DCPIR.git

[submodule "Кулибаба М.А."]
	path = Кулибаба М.А.
	url = https://github.com/elegantcookie/rcir.git
