body {
    margin: 0;
    background-color: silver;
    font-family: 'Roboto', sans-serif;
}

main,
footer {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: black;
}

a:hover {
    color: aqua;
}

a:active {
    text-shadow: -0.05em -0.05em 0.05em red;
    position: relative;
    top: 0.1em;
    left: 0.1em;
}

.logo {
    width: 3.5em;
    height: 3.5em;
    background-image: url('fav.png');
    background-size: cover;
    background-position: center;
    border-radius: 30%;
    align-self: center;
    margin: 0 1em;
}

nav {
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

nav li {
    display: inline;
}

nav a {
    font-size: 2em;
}

aside {
    width: 70%;
    float: right;
    color: cadetblue;
}

a[href^="mailto"] {
    font-size: 1.2em;
    display: block;
}

a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"] {
    font-size: 1.2em;
    display: block;

}

a[href^="tel"]::before {
    content: "📞 ";
}

.move {
    font-size: 1.2em;
}